<tr>
  <th scope="row"><%= item_num %></th>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol item_price_cents / 100.0 %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol total_price_cents / 100.0 %>
  </td>
</tr>
